body {
   font-family: "Arial", sans-serif;
   background-color: #f7f7f7;
   margin: 0;
   padding: 20px;
}

#boxes {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   gap: 10px;
}

.box {
   width: 100px;
   height: 100px;
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   font-size: 1.5em;
   color: #333;
   border: 2px solid #ddd;
   transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.outlined {
   border: 2px dashed #888;
}

.round-edge {
   border-radius: 15px;
}

#toggles {
   margin-top: 30px;
   text-align: center;
}

button {
   padding: 10px 15px;
   font-size: 16px;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-right: 10px;
   background-color: #5d93e1;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
   background-color: #4a81d4;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:last-child {
   margin-right: 0;
}

.color-cardinal {
   background-color: #c41e3a;
}
