@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";

table {
   border-collapse: collapse;
   width: 100%;

   th,
   td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      position: relative;

      &:hover {
         background-color: #f2f2f2;
      }

      .fa-sort {
         margin-left: 0.5rem;
         visibility: visible;
      }

      &.sorted-asc .fa-sort-up,
      &.sorted-desc .fa-sort-down {
         visibility: visible;
      }
   }

   .logo {
      display: inline-block;
      border-radius: 70%;
      margin-right: 5px;
      vertical-align: middle;
   }

   tbody tr:hover {
      background-color: #e9ecef;
   }
}
